:root {
  --blanco: #f7f7f7;
  --violeta: #a22887;
  --amarillo: #f5a801;
  --magenta: #e6007e;
  --verde: #7eba27;
  --cian: #009bac;
}

body {
  background-color: #ffff;
  margin: 0;
  padding: 0;
}

/*--------Barra------------*/
.barra-navegacion {
  position: fixed;
  background-color: var(--amarillo);
  width: 100%;
  height: auto;
  z-index: 1000; 
}

a {
  color: var(--blanco);
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 8px 20px; 
}

.barra-navegacion a:hover {
  background-color: var(--verde);
}

ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/*---------Imagen------------*/
img {
  padding: 0;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

/*---------Texto------------*/
h2,
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 100%;
  overflow-wrap: break-word;
}

/*---------Botones-----------*/

.botones{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
}


.icono-animado{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%; 
  max-width: 150px;
  margin: 10px;
}
.icono-animado img {
  width: 50%;
  max-width: 100px; 
  margin-right: 5px;
}

.icono-animado span {
color: black;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 100%;
text-align: center;
}

.icono-animado:hover img {
  opacity: 0.8;
}

/*---------Secciones------------*/
.seccion-amarilla{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    background-color: var(--amarillo);
  }

.seccion-cian{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    background-color: var(--cian);
  }

.seccion-magenta{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  background-color: var(--magenta);
}

.seccion-amarilla img,
.seccion-cian img,
.seccion-magenta img,
.Seccion-verde img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.texto-amarillo,
.texto-cian,
.texto-magenta{
  color: var(--blanco);
  padding: 10px;
  flex-grow: 1;
  max-width: 100%;
  overflow-wrap: break-word;
}

/*---------Galeria------------*/
.Seccion-verde {
  background-color: var(--verde);
  padding: 20px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.foto-texto {
  position: relative;
  width: calc(33.33% - 10px);
  max-width: 50%;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-texto img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
  transition: filter 0.3s;
}

.foto-texto:hover img {
  filter: brightness(70%);
}

.foto-texto::after {
  content: attr(data-text);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--blanco);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.foto-texto:hover::after {
  opacity: 1;
}

/*-------piesito----------*/
.footer {
  background-color: var(--violeta);
  color: var(--amarillo);
  padding: 50px 0;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.texto-atencion {
  text-align: center;
}

.texto-atencion h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.texto-atencion p {
  font-size: 16px;
  line-height: 1.6;
}
